:root {
    --primary-bg-color: rgb(255, 255, 255);
    --secondary-bg-color: rgb(62, 121, 211);
    --tirtiary-bg-color: rgb(255, 255, 255);
    --hover-bg-color: rgb(150, 185, 255);
    --hover-light-color: rgb(150, 185, 255);

    --font-color-white: rgb(255,255,255);
    --font-color-gray: rgb(128, 128, 128);
    --font-color-blue: rgb(62, 121, 211);
    --font-color-black: rgb(0,0,0);

    --logo-font-color: rgb(255,255,255);

    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --font-size-xxl: 6rem;
    --gap: 2rem;
    --border-radius: 1rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --margin-lg: 4rem;
}

.darkmode {
    --primary-bg-color: rgb(24, 25, 26);
    --secondary-bg-color: rgb(36, 37, 38);
    --tirtiary-bg-color: rgb(36, 37, 38);
    --hover-bg-color: rgba(59, 61, 62);
    --hover-light-color: rgb(150, 185, 255);


    --font-color-gray: rgb(255, 255, 255);
    --font-color-blue: rgb(62, 121, 211);
    --font-color-black: rgb(0,0,0);

    --logo-font-color: rgb(62, 121, 211);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
}

html {
    font-size: 62.5%;
}

body{
    font-size: 3.4rem;
    letter-spacing: 1px;
    background-color: var(--primary-bg-color);
    color: var(--font-color-gray);

}

.topnav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.navbar {
    font-weight: bold;
    max-width: 100rem;
    margin: 0 auto;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color:var(--font-color-white);
    background-color: var(--secondary-bg-color);
}

.logo{
    color: var(--logo-font-color);
    font-size: var(--font-size-xxl);
    display: flex;
    height: 100%;
    width: 100%;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 0 var(--gap);

}

.nav-links li {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px 8px;
    
}

.nav-links li a {
    color: var(--font-color-white);
    text-decoration: none;
    font-size: var(--font-size-sm);

}

.nav-links a:hover {
    color: var(--hover-light-color);
}

.link.active {
    color: var(--hover-light-color);
}

#theme-switch{
    font-size: 30px;
    padding: 5px;
    margin-left: 1.6rem;
    border-style: none;
    border-radius: 2rem;
    background-color: var(--primary-bg-color);
    color: var(--font-color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch:hover {
    color: var(--hover-light-color);
    cursor: pointer;
}

#theme-switch i:last-child{
    display: none;
}

.darkmode #theme-switch i:first-child{
    display: none;
}

.darkmode #theme-switch i:last-child{
    display: block;
}

/*hide by default*/
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;

}

@media (max-width: 880px) {
    .nav-links {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: var(--secondary-bg-color);
        top: 9rem;
        right: 0rem;
        width: 100%;
        text-align: center;
        padding: 0;  
    }

    .nav-links.show{
        display: flex;

    }

    .hamburger{
        display: block;
    }
    
}

/*navbar*/
.topnav.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;

}

/*container*/

section {
    margin-bottom: var(--margin-xl);
}

.article-head {
    margin-top: 10.5rem;
}
.wrap {
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
}

.darkmode svg {
    fill: var(--font-color-gray);
}

.article-content{
    padding: 2rem;
}

.banner-text {
    color: var(--font-color-blue);
    margin: 2rem 0;
    border-bottom: 2px solid var(--font-color-blue);

}

.featured-content-box {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--tirtiary-bg-color);
}

.featured-content-box a{
    display: none;
    text-decoration: none;
    color: var(--font-color-gray);
}

.featured-content-box a:hover{
    color: var(--hover-light-color);
}

.featured-article-box img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 67rem;
    object-fit: cover;
    object-position: center;

}

.article-title{
    margin-bottom: 3rem;
    display: block;

}

.article-data {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.poster-username {
    gap: 2rem;
    display: flex;
    align-items: center;
}

a.displaySlide{
    display: block;
    animation: opaque 1s ease;
}

@keyframes opaque {
    from {opacity: 0.5;}
    to {opacity: 1;}

}

.featured-content-box button {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    font-size: 5rem;
    background-color: rgba(120, 120, 120, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 2.6rem;

}

.prev-button {
    left: 0;

}

.next-button {
    right: 0;

}

/*recent posts*/

.recent-post {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.recent-article-box{
    gap: var(--gap);
    margin: 2rem 0;
    display: flex;
    text-decoration: none;
    color: var(--font-color-gray);
    background-color: var(--tirtiary-bg-color);
    border-radius: 1rem;
}

.recent-list a:hover{
    color: var(--hover-light-color);
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 0;

}

.recent-title-text {
    font-size: var(--font-size-md);
}

.image-container img{
    display: block;
    margin: 0 auto;
    width: 20rem;
    height: 16rem;
    object-fit: cover;
    object-position: center;

}

.recent-article-data {
    font-size: var(--font-size-xsm);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.recent-poster-username {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-btn {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: var(--font-size-sm);
    background-color: var(--secondary-bg-color);
    color: var(--font-color-white);
    padding: var(--gap);
    width: 50%;
    text-decoration: none;
    border-radius: 1rem;

}

.more-btn:hover {
    background-color: var(--hover-bg-color);
}

/*footer*/

.botfoot {
    margin-top: 10rem;
    border-top: 2px solid var(--font-color-gray);
}

.gridtab {
    margin-top: var(--margin-md);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap);
    justify-content: center;
}

.botfoot a{
    text-decoration: none;
}

.botfoot svg {
    width: var(--margin-lg);
}

.botfoot h4, span, .logo-containers {
    display: flex;
    justify-content: center;
}

.footer-containers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);

}

.icon-container{
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-sm);

}

.botfoot span {
    display: block;
    font-size: var(--font-size-xsm);
}
.grid-item h2 {
    color: var(--font-color-blue);
    font-weight: bold;
    font-size: var(--font-size-xl);
    display: flex;
    align-items: center;
    justify-content: center;

}

.copyright {
    background-color: var(--secondary-bg-color);
    color: var(--font-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin-md);
    padding-top: 10px;
    padding-bottom: 90px;

}